################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/**
/**/debug/**
/MrCasting/MrCasting.Cordova/bower_components
